@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&family=Varela+Round&display=swap');

body {
    background-color: white;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Ubuntu', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0 12px;
}

.brand img {
    width: 55px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.container {
    min-height: 68vh;
    background-color: black;
    color: white;
    font-family: 'varela round', sans-serif;
    display: flex;
    width: auto;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom {
    height: 120px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    margin-top: 22px;
}

.icons i {
    cursor: pointer;
    margin: 5px;
}

#myProgressBar {
    width: 80vw;
    text-align: center;
    cursor: pointer;
}

.songItems {
    height: 50px;
    display: flex;
    background-color: white;
    width: auto;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;


}

.songItems img {
    width: 50px;
    margin: 0 23px 0;
    margin-left: 4px;
    border-radius: 35px;
}

.timestamp {
    margin: 0 23px 0;
}

.songInfo {
    position: absolute;
    left: 10vw;
    font-family: 'varela round', sans-serif;
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
        background-color: rgb(33, 144, 218);
    }
}

@media only screen and (max-width: 350px) {
    body {
        background-color: rgb(218, 95, 33);
    }
}




a {
    color: white;
}

.fa-play,
.fa-pause {
    cursor: pointer;
}